  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Karla:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');
/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

*{
  font-family: 'Karla', sans-serif;
}

body{
  background-color: #000;
}

.hero-video{
    position: absolute;
    top: 0;
    z-index: -2;
    height: 90vh;
    object-fit: cover;
}

.hero-title{
  font-family: 'Inter', sans-serif;
  font-size: 36px;
}

.navbar{
    z-index: 1;
}

.nav-link{
    color: #aaa !important;
}

.nav-item:hover{
    color: #fff;
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hero-overlay{
    height: 90vh;
    width: 100vw;
    background-image: linear-gradient(#0000001e,#00000081,#000000);
    position: absolute;
    top: 0;
    z-index: -1;
}
  
  .hero-content {
    text-align: center;
    z-index: 0;
    position: relative;
    top: 120px;
  }

  .hero-intro{
    font-size: 22px;
  }

  .hero-component{
    margin-top: 20px;
  }
  
  /* style for section 2 */
  .section2{
    height: fit-content;
    width: 100vw;
    position: absolute;
    top: 90vh;
  }

  .img .circle{
    width: 300px;
  }

  .section2 .logo{
    width: 175px;
    position: absolute;
    margin-top: 65px;
  }

  .section2 .description{
    font-size: 25px;
    padding-right: 160px;
  }

  .impact{
    position: absolute;
    top: 160vh;
  }

  .impact .earth img{
    width: 260px;
  }

  .comunities, .earth{
    color: #fff;
    margin: 0 13rem;
  }

  .comunities{
    margin-top: 10.5rem;
  }

  .impact-background img{
    position: absolute;
    z-index:  -1;
    width: 100vw;
    height: 150vh;
    top: -200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    object-fit: cover;
  }

  .partners{
    position: absolute;
    top: 295vh;
    width: 100vw;
  }

  .partners h1{
    margin-bottom:  4rem;
    color: #fff;
    text-align: center;
  }

  .logo1, .logo2{
    display: flex;
    justify-content: space-around;
    padding: 4rem 8rem;
    align-items: center;
  }

  .logos img:hover{
    filter: none;
  }

  .logos img{
    height: 5rem;
    filter: grayscale(100%);
  }

  .pnc-logo{
    height: 3.4rem !important;
  }

  footer{
    position: absolute;
    top: 300vh;
    width: 100vw;
  }

  .footer-bg{
    position: absolute;
    z-index:  -1;
    border: 1px solid #fff;
  }

  .footer-logo img{
    height: 6rem;
  }

  .footer-content{
    margin-top: 55rem;
  }

  /* style hanya untuk  mobile */
  @media only screen and (max-width: 600px){
    .earth, .comunities{
      background-color: #222325;
      padding: 20px;
      border-radius: 12px;
    }

    .comunities{
      margin-top: 2rem !important;
    }

    .section2 .description{
      font-size: 25px;
      padding: 0 30px;
      text-align: center;
    }

    .comunities, .earth{
      margin: 0 1rem;
    }

    .impact-background img{
      display: none;
    }
  }